{% extends "layouts/profile.layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Просмотр группы привилегий</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <div class="content-details show">
                    <p>Название группы: {{ permissionGroup.title }}</p>
                    {% for  permission in permissionGroup.toArrayPermissions %}
                        {% if(permission['status']) %}
                            <p>Имеет привелегии: {{ permission.title }}</p>
                        {% endif %}
                    {% endfor %}
                </div><!-- /.content-details -->
            </div>
        </div>
    </div>
{% endblock %}