{% extends "profile/monetary_operations/component/operation_content.html.twig" %}

{% block operation_content %}
    {% include 'profile/monetary_operations/component/monetary_operations.html.twig' %}
{% endblock  %}

{% block Javascript %}
    <script type="text/javascript">
        $(function () {

            $(".created-VIP").on('click', function () {
                $(".submit-vip-btn")
                    .addClass("submit-create-vip-btn")
                    .html("Добавить");
            });

            $(document).on('click', '.submit-create-vip-btn', function () {

                var fullName = $('#fullName').val();
                var email = $('#email').val();
                var phone = $('#phone').val();

                var data = {
                    fullName: fullName,
                    email: email,
                    phone: phone
                };

                $.post('{{ path('profile_vip_client_create_ajax') }}', data, function (response) {
                    console.log(response);
                    $('.close').trigger('click');
                    $('.modal-form-vip-client').each(function () {
                        this.reset();
                    });
                    var select = $('#vip_client_id');
                    select.append('<option value="' + response.id + '">' + response.fullname + '</option>')

                });
            });

            $("#monetary_operations_index").addClass("active");

            $.getScript("/js/exchange_offices.js", function () {
                moneyOperation("{{ path('profile_monetary_operations_create') }}","{{ exchangeOffice.id }}")
            });
        });
    </script>
{% endblock %}