<footer class="site-footer">
    <div class="copyright">
        <div class="float-left">
            exchange-crm.kg © 2018
        </div>

    </div><!-- /.copyright -->
</footer><!-- /.site-footer -->