<header class="top-header media">
    <div class="top-left mr-3">
        <a class="navbar-brand" style="color: #777c7e;font-weight: bold;" href="/">
            Личный кабинет
        </a><!-- /.navbar-brand -->
    </div><!-- /.top-left -->

    <div class="top-right media-body">
        <div class="left-content float-left">
            <a href="#" class="sidenav-toggle mr-2" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a><!-- /.sidenav-toggle -->

            <form class="search-form" action="#">
                <input type="text" class="form-control" id="search1" placeholder="Поиск ">
                <input type="submit" class="form-control" id="submit1">
            </form><!-- /.search-form -->
        </div><!-- /.left-content -->

        <div class="right-content float-right">
            <div class="dropdown user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('profile/images/avatar/1.jpg') }}" class="rounded-circle float-left mr-2" alt="User Image">
                    <span class="status"></span>
                    <h4 class="name">Макс</h4>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user"></i> Мой профиль</a></li>
                    <li><a href="#"><i class="fa fa-gears"></i> Настройки</a></li>
                    <li><a href="/logout"><i class="fa fa-power-off"></i> Выход</a></li>
                </ul>
            </div>

        </div><!-- /.right-content -->
    </div><!-- /.top-right -->
</header><!-- /.top-header -->