{% extends "profile/monetary_operations/component/operation_content.html.twig" %}

{% block operation_content %}
    {% include 'profile/exchange_office/tabs/exchange_office_tab.html.twig' %}
    <!-- Modal -->
    <div class="form-staff">
        {% include 'profile/components/forms/modal_form_staff.html.twig' %}
    </div>
{% endblock  %}

{% block Javascript %}

    <script type="text/javascript">
        $(function () {

            $("#exchange_office_detail").addClass("active");

            $('.multipleSelectStaffs').fastselect();
            $('.multipleSelectCurrencies').fastselect();
            let exchangeOfficeSubmitMessage = $('.exchangeOfficeSubmitMessage');

            $('.exchangeOfficeSubmitForm').on('click', function (e) {
                e.preventDefault();
                let data = {};

                $.each($('#exchangeOfficeForm').find(':input, select'), function () {
                    if ($(this).is(':checkbox')) {
                        data[this.name] = $(this).is(':checked') ? 1 : 0;
                    } else {
                        data[this.name] = $(this).val();
                    }
                });

                console.log(data);

                $.post('{{ path('profile_exchange_office_edit_ajax') }}', data, function (data) {
                })
                    .done(function (data) {
                        let color = 'danger';
                        if (data.status) {
                            color = 'success';
                        }
                        exchangeOfficeSubmitMessage.empty();
                        exchangeOfficeSubmitMessage
                            .append('<p class="text-' + color + '">' + data.message + '</p>');
                        console.log(data);
                    })

                    .fail(function () {
                        exchangeOfficeSubmitMessage.empty();
                        exchangeOfficeSubmitMessage
                            .append('<p class="text-danger">Ошибка сервера</p>');
                        console.log(data);
                    });
            });

            $('.add_staff').on('click', function (e) {
                e.preventDefault();
            });

            $('.submit-staff-btn').on('click', function (e) {
                e.preventDefault();
                let data = {};

                $.each($('.modal-form-staff').find(':input, select'), function () {
                    if ($(this).is(':checkbox')) {
                        data[this.name] = !!$(this).is(':checked');
                    } else {
                        data[this.name] = $(this).val();
                    }
                });

                console.log(data);

                $.post('{{ path('profile_staff_create_ajax') }}', data, function (response) {
                    console.log(response);
                    $('.close').trigger('click');
                    $('.modal-form-staff').each(function () {
                        this.reset();
                    });
                    $('#selectStaffs')
                        .append("<option value='"
                            + response.staffData.id + "'>"
                            + response.staffData.fullname + "</option>");

                    $('.fstResults').append("<span class='fstResultItem'>" + response.staffData.fullname + "</span>");

                });

            });

        });
    </script>
{% endblock %}